Slack_Newsletter.json
{
  "name": "Slack Newsletter",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0AFXARRCSK",
          "mode": "list",
          "cachedResultName": "newsbot"
        },
        "options": {}
      },
      "id": "7f9296a0-1618-422c-a8ae-a7afd588b38b",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -2320,
        1120
      ],
      "webhookId": "slack-webhook-001",
      "credentials": {
        "slackApi": {
          "id": "yeOPl48ZyCuCJZ7d",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.blocks[0].elements[0].elements[1].text }}",
              "operation": "contains",
              "value2": "!newsletter"
            }
          ]
        }
      },
      "id": "6b03751c-2040-47ec-b603-053b4ac2b921",
      "name": "Check Newsletter Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2096,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nconst topicMatch = text.match(/!newsletter\\s+(.+)/i);\nconst topic = topicMatch ? topicMatch[1].trim() : 'Weekly Tech & Business News';\nconst channel = $input.first().json.channel;\nconst user = $input.first().json.user;\n\nreturn [{\n  json: {\n    topic: topic,\n    channel: channel,\n    user: user,\n    requestedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "5351edde-64df-496b-aff3-d21137334991",
      "name": "Extract Topic & Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        1024
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFXARRCSK",
          "mode": "list",
          "cachedResultName": "newsbot"
        },
        "text": "=🔄 Generating your newsletter on *{{ $json.topic }}*... Please wait a moment!",
        "otherOptions": {}
      },
      "id": "de11e7d5-dc70-4311-bf91-b64b90f0af1e",
      "name": "Send Processing Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -1648,
        1024
      ],
      "webhookId": "80730c1f-7a42-4c9c-9615-53c77bc25700",
      "credentials": {
        "slackApi": {
          "id": "yeOPl48ZyCuCJZ7d",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawContent = $input.first().json.text;\nconst topic =$('Extract Topic & Channel').first().json.topic ;\nconst channel = $('Extract Topic & Channel').first().json.channel;\nconst user = $('Extract Topic & Channel').first().json.user;\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\n// Slack formatted text\nconst slackText = `*📰 NEWSLETTER: ${topic.toUpperCase()}*\n━━━━━━━━━━━━━━━━━━━━━━━━\n📅 *${dateStr}*\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n${rawContent}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n_Generated by Newsletter Bot • Powered by OpenRouter AI_`;\n\n// HTML for Gmail\nconst mdToHtml = (md) => {\n  return md\n    .replace(/^## (.+)$/gm, '<h2 style=\"color:#1f2937;border-left:4px solid #7c3aed;padding-left:12px;margin:24px 0 12px;\">$1</h2>')\n    .replace(/^### (.+)$/gm, '<h3 style=\"color:#4b5563;margin:16px 0 8px;\">$1</h3>')\n    .replace(/^# (.+)$/gm, '<h1 style=\"color:#111827;margin:0 0 16px;\">$1</h1>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n    .replace(/^- (.+)$/gm, '<li style=\"margin-bottom:6px;color:#4b5563;\">$1</li>')\n    .replace(/(<li[^>]*>.*<\\/li>\\n?)+/gs, '<ul style=\"padding-left:20px;margin:12px 0;\">$&</ul>')\n    .replace(/^(?!\\s*<[hul]).+$/gm, line => line.trim() ? `<p style=\"line-height:1.8;color:#4b5563;margin:0 0 14px;\">${line.trim()}</p>` : '')\n    .replace(/<p[^>]*><\\/p>/g, '');\n};\n\nconst htmlEmail = `<!DOCTYPE html>\n<html lang=\"en\">\n<head><meta charset=\"UTF-8\"><title>Newsletter: ${topic}</title></head>\n<body style=\"margin:0;padding:0;background:#f0f2f5;font-family:'Segoe UI',Arial,sans-serif;\">\n<div style=\"max-width:680px;margin:30px auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.1);\">\n  <div style=\"background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);padding:50px 40px;text-align:center;\">\n    <div style=\"font-size:11px;letter-spacing:4px;text-transform:uppercase;color:#a78bfa;margin-bottom:14px;\">📰 AI Newsletter Bot</div>\n    <h1 style=\"margin:0 0 18px;font-size:28px;color:#fff;line-height:1.3;\">${topic}</h1>\n    <div style=\"display:inline-block;background:rgba(167,139,250,0.15);border:1px solid #a78bfa;color:#a78bfa;padding:7px 18px;border-radius:20px;font-size:12px;\">📅 ${dateStr}</div>\n  </div>\n  <div style=\"padding:40px;\">\n    ${mdToHtml(rawContent)}\n  </div>\n  <div style=\"background:#1f2937;padding:28px 40px;text-align:center;\">\n    <div style=\"font-size:14px;font-weight:700;color:#a78bfa;margin-bottom:8px;\">Newsletter Bot</div>\n    <p style=\"margin:4px 0;font-size:12px;color:#9ca3af;\">Generated on ${dateStr}</p>\n    <p style=\"margin:4px 0;font-size:12px;color:#9ca3af;\">Powered by OpenRouter AI • Delivered via n8n</p>\n  </div>\n</div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    topic,\n    channel,\n    user,\n    dateStr,\n    slackFormatted: slackText,\n    htmlContent: htmlEmail\n  }\n}];"
      },
      "id": "2e1f6846-4034-4eac-9d97-d211b8173480",
      "name": "Format Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1024
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFXARRCSK",
          "mode": "list",
          "cachedResultName": "newsbot"
        },
        "text": "={{ $json.slackFormatted }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "7cebca81-7305-43b8-abbc-aa2645c11b7c",
      "name": "Send Newsletter to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -848,
        928
      ],
      "webhookId": "c69803d4-9d4d-4642-b9ac-9257cc2c0385",
      "credentials": {
        "slackApi": {
          "id": "pUYq3o7cNDt2F2EH",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFXARRCSK",
          "mode": "list",
          "cachedResultName": "newsbot"
        },
        "text": "=✅ *Newsletter Complete!*\n\n📧 Poster has been sent to email!\n📰 Topic: *{{ $('Format Newsletter').item.json.topic }}*\n📅 Date: {{ $('Format Newsletter').item.json.dateStr }}\n\n_Use `!newsletter [topic]` to generate another newsletter_",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "b123b8b4-e018-4623-b93b-8c733efcd35f",
      "name": "Send Completion Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -624,
        1120
      ],
      "webhookId": "3c976673-a985-4e90-9838-869c49dfc322",
      "credentials": {
        "slackApi": {
          "id": "pUYq3o7cNDt2F2EH",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFXARRCSK",
          "mode": "list",
          "cachedResultName": "newsbot"
        },
        "text": "=❌ Sorry, I didn't recognize that command.|*Usage:* !newsletter [topic]`*Example:* `!newsletter Union Budget 2026`",
        "otherOptions": {}
      },
      "id": "75d8d4d7-e3ba-415e-bb64-074bdd2b76d2",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -1872,
        1216
      ],
      "webhookId": "677ae498-af9d-47ae-81b8-9e9c7af6752f",
      "credentials": {
        "slackApi": {
          "id": "pUYq3o7cNDt2F2EH",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jananibala2512@gmail.com",
        "subject": "=📰 Newsletter: {{ $json.topic }} | {{ $json.dateStr }}",
        "message": "={{ $('Format Newsletter').item.json.htmlContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -848,
        1120
      ],
      "id": "afb2abe0-d987-48aa-ab9e-74fb19f3ece1",
      "name": "Send a message",
      "webhookId": "e2284236-2cca-4ac9-8bd3-5da3ee3f75a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "s0x37t5NJrnioJHT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a detailed newsletter about: {{ $('Extract Topic & Channel').item.json.topic }}\n\nUse this structure:\n## 📰 Headline\n## 📋 Executive Summary\n## 🔍 Main Story\n## 💡 Key Insights\n## 🎯 Key Takeaways\n## 🚀 What To Do Next\n\nMake it professional, informative and engaging.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1424,
        1024
      ],
      "id": "cd923e97-e169-4659-8357-7c0f8d5fc9bd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "maxTokens": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1360,
        1248
      ],
      "id": "a6c0763d-e8f1-4f06-b770-a7f0676c1c3d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "31yNP8CkXsIDFfsV",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Check Newsletter Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Newsletter Command": {
      "main": [
        [
          {
            "node": "Extract Topic & Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Topic & Channel": {
      "main": [
        [
          {
            "node": "Send Processing Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Message": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Newsletter": {
      "main": [
        [
          {
            "node": "Send Newsletter to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send Completion Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f5d90240-e03a-420e-93f0-47968e6a56fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccb004e82645c290c933262f39df9f06ee790e884cc37ebde4cc3391457670b4"
  },
  "id": "tqeYQI71cqdGYNc2",
  "tags": []
}